
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}



h1 {
    text-align: left;
    padding: 0px 50px;
    margin: 0 0;
    font-weight: 400;
}

.botao-ver-mais {
    background-color: green;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    text-decoration: none;
}

.botao-ver-mais:hover {
    background-color: green;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px black;
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.img-header {
    padding: 0px 50px;;
    margin: 0 0;
    bottom: 0px;
}

.img-banner-blog {
    width: 950px;
    align-items: center;
}

.benners-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.principal {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.secundarias {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.postagem {
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.secundaria {
    flex: 1;
}

.outras {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pequena {
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 1000px;
}

@media (max-width: 768px) {
    .secundarias {
        flex-direction: column;
    }
    .outras {
        grid-template-columns: repeat(2, 1fr);
    }
}
